body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    align-self: center;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
    border-bottom: 1px solid white;
}
/* selected link */
a:active {
    color: black;
}
button{
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: green;
    cursor: pointer;
    border-radius: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

/*Menu styles*/

.menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    margin-bottom: 30px;
    background-color: #57d157;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu span {
    padding: 0 10px;
}

/*Sign Up styles*/

.signup-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 30%;
    padding: 3%;
}

.signup-form h1 {
    padding: 5% 3%;
}
.message{
    height: 25px;
    color: chocolate;
    padding: 10px 0 20px 0;
    animation: hideMessage 2s 4s forwards;

}
.message {
    height: 25px;
    color: chocolate;
    padding: 10px 0 20px 0;
    -moz-animation: hideMessage 3s 4s forwards;
    /*!* Firefox *!*/
    -webkit-animation: hideMessage 3s 4s forwards;
    /*!* Safari and Chrome *!*/
    -o-animation: hideMessage 3s 4s forwards;
    /*!* Opera *!*/
    animation: hideMessage 3s 4s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes hideMessage {
    from{ color: chocolate;}
    to {color: white}
}

.signup-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.signup-form form input {
    font-size: 16px;
    width: 70%;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.signup-form form button {
    font-size: 16px;
    padding: 10px 30px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: green;
    cursor: pointer;
}
.user-page{

}
.users-page-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
}
.users-page-list-user{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 3px;
    width: 19%;
}
.users-page-list-user p{
    margin: 5px;
}

.user-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-page-desc{
    width: 60%;
}
.user-page-photo{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    width: 30%;
}
.user-page-photo img{
    margin-bottom: 10px;
}

.search-panel{
    width: 20%;
    margin: 20px 15px;
}
.search-panel input{
    padding: 5px;
}
.dash-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.dash-board-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 49%;
    /* border: 1px solid gray; */
    background-color: #dff7e0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dashboard-form{
    width: 80%;
}

.dashboard-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.dashboard-form form label{
    margin: 13px ;
}
.dashboard-form form input{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.dashboard-form form textarea{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.dashboard-form form button{
    width: 30%;
    align-self: flex-end;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: green;
    cursor: pointer;
    border-radius: 3px;
}
.dashboard-upload-ava {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    /* padding: 10px; */
}
.dashboard-upload-ava form {
    width: 100%;
}
.dashboard-upload-ava label{
    margin: 13px ;
}
.dashboard-form .dashboard-upload-ava input {
    /* margin: 0; */
    padding: 0;
    background-color: #fff;
}
 .dashboard-upload-ava button{
    width: 22%;
    align-self: flex-end;
    padding: 5px;
    margin-bottom: 5px;
     font-size: 16px; 
    border: none;
    color: white;
    background-color: green;
    cursor: pointer;
    border-radius: 3px;
 }  
.dash-board-gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.gallery {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.gallery-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    /* padding: 10px; */
}
.gallery-list-item{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 40%;
    padding: 10px;
}
.gallery-list-item img{
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
}
.create-ad-form-container {
    width: 30%;
}
.create-ad-form{
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 100%;
}
.create-ad-form-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ads_list_category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin: 15px;
}
.dashboard-ads{
    width: 49%;
    /* margin: 15px; */
    background-color: #dff7e0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dashboard-ads h2 {
    margin: 18px ;
}
.dashboard-ads-link{
    margin: 18px ;
}
.dashboard-ads-link a:hover{
    color: black;
    border-bottom: 1px solid black;
}
.ad{
    margin: 15px 15px;
    padding: 15px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.ad-fields{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.ad-fields:last-child{
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
}
.ad-left-side-fields{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.ad-right-side-fields{
    display: flex;
    flex-direction: column;
}
.ad-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
    /*border: 1px solid grey;*/
    font-size: 16px;
}
.ad-field-images{
    width: 100%;
}
.ad-field span{
    font-size: 13px;
    color: rgba(0,0,0,0.5);
}
.ad a{
    color: white;
}
.ad a:hover{
    text-decoration: none;
    border-bottom: 0;
}
.ad button{
    margin: 5px;
    padding: 5px;
}